<footer id="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="grid_5 anim_left">
          <h4>Get in touch</h4>
          <div class="row">
            <div class="grid_3">
              <address class="f_address">
                <p>8901 Marmora Road <br>
                Glasgow, DO4 89GR.<br>
                <span>Freephone:</span>  +1 800 559 6580<br>
                <span>Telephone:</span>   +1 959 603 6035<br>
                <span>FAX:</span>            + 1 504 889 9898</p>

                E-mail: <a href="#">mail@demolink.org</a>
              </address>
            </div>
            <div class="grid_2">
              <ul class="f_menu">
               <li class="current"><a href="index.html">Home</a></li>
               <li><a href="index-1.html">About us</a></li>
               <li><a href="index-2.html">Services</a></li>
               <li><a href="index-3.html">Projects</a></li>
               <li><a href="index-4.html">Contacts</a></li>
               <li><a href="index-5.html">Blog</a></li>
             </ul>
            </div>
          </div>
        </div>
        <div class="grid_4 ">
          <h4>Follow us</h4>
          <div class="footer_socials">
            <a href="#" class="fa fa-google-plus"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-pinterest"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </div>
        </div>
        <div class="grid_3 anim_right">
          <h4>Join our newsletter</h4>
          
          <p>And always stay informed of the latest science news and events!</p>
          <a href="#" class="btn"><span data-content="Sign up">Sign up</span>
            <div class="fa fa-angle-double-right"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="grid_12">  
         <div class="copyright"> &copy; <span id="copyright-year"></span> Science Lab.  <a href="index-6.html">Privacy Policy</a> 
          
         </div>
      </div>
    </div>
  </div>  
</footer>