<header data-stellar-background-ratio="1.5">
  <section id="stuck_container">
    <!--==============================
                Stuck menu
    =================================-->
    <div class="container">
      <div class="row">
        <div class="grid_12 rel">
          <h1>
            <a href="index.html">
              <img src="images/logo.png" alt="Logo alt">
            </a>
          </h1>
          
          <form id="search" action="search.php" method="GET">
            <div class="rel">
              <label>
                <input type="text" name="s" value="">
              </label>
              <a onClick="document.getElementById('search').submit()" class="fa  fa-search"></a>
            </div>
            <div class="clear"></div>
          </form>
          
          <div class="navigation ">
            <nav>
              <ul class="sf-menu">
              <li class="current"><a href="index.html">Home</a></li>
              <li><a href="index-1.html">About Us</a>
                <ul>
                    <li><a href="#">Vestibulum iaculis</a></li>
                    <li><a href="#">Fusce euismod conuat</a>
                      <ul>
                        <li><a href="#">Pellentesque sed</a></li>
                        <li><a href="#">Aliquam congue ferm</a></li>
                        <li><a href="#">Mauris accum</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Pellentesque</a></li>
                </ul>
              </li>
              <li><a href="index-2.html">Services</a></li>
              <li><a href="index-3.html">Projects</a></li>
              <li><a href="index-4.html">Contacts</a></li>
              <li><a href="index-5.html">Blog</a></li>
            </ul>
            </nav>
        
            <div class="clear"></div>
          </div>       
          
          <div class="clear"></div>  
        
        </div>
    </div> 
    </div> 
  </section>
  
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <div class="caption">
          <h2>Advances of science make <br> easier our daily life!</h2>
          Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuamus. <br>
          <a href="#">click here</a>
        </div>
      </div>
    </div>
  </div>
</header>
