{% macro header() %}
<header data-stellar-background-ratio="1.5">
  <section id="stuck_container">
    <!--==============================
                Stuck menu
    =================================-->
    <div class="container">
      <div class="row">
        <div class="grid_12 rel">
          <h1>
            <a href="index.html">
              <img src="images/logo.png" alt="Logo alt">
            </a>
          </h1>
          
          <form id="search" action="search.php" method="GET">
            <div class="rel">
              <label>
                <input type="text" name="s" value="">
              </label>
              <a onClick="document.getElementById('search').submit()" class="fa  fa-search"></a>
            </div>
            <div class="clear"></div>
          </form>
          
          <div class="navigation ">
            <nav>
              <ul class="sf-menu">
              <li class="current"><a href="index.html">Home</a></li>
              <li><a href="index-1.html">About Us</a>
                <ul>
                    <li><a href="#">Vestibulum iaculis</a></li>
                    <li><a href="#">Fusce euismod conuat</a>
                      <ul>
                        <li><a href="#">Pellentesque sed</a></li>
                        <li><a href="#">Aliquam congue ferm</a></li>
                        <li><a href="#">Mauris accum</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Pellentesque</a></li>
                </ul>
              </li>
              <li><a href="index-2.html">Services</a></li>
              <li><a href="index-3.html">Projects</a></li>
              <li><a href="index-4.html">Contacts</a></li>
              <li><a href="index-5.html">Blog</a></li>
            </ul>
            </nav>
        
            <div class="clear"></div>
          </div>       
          
          <div class="clear"></div>  
        
        </div>
    </div> 
    </div> 
  </section>
  
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <div class="caption">
          <h2>Advances of science make <br> easier our daily life!</h2>
          Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuamus. <br>
          <a href="#">click here</a>
        </div>
      </div>
    </div>
  </div>
</header>

{% endmacro %}

{% macro footer() %}
<footer id="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="grid_5 anim_left">
          <h4>Get in touch</h4>
          <div class="row">
            <div class="grid_3">
              <address class="f_address">
                <p>8901 Marmora Road <br>
                Glasgow, DO4 89GR.<br>
                <span>Freephone:</span>  +1 800 559 6580<br>
                <span>Telephone:</span>   +1 959 603 6035<br>
                <span>FAX:</span>            + 1 504 889 9898</p>

                E-mail: <a href="#">mail@demolink.org</a>
              </address>
            </div>
            <div class="grid_2">
              <ul class="f_menu">
               <li class="current"><a href="index.html">Home</a></li>
               <li><a href="index-1.html">About us</a></li>
               <li><a href="index-2.html">Services</a></li>
               <li><a href="index-3.html">Projects</a></li>
               <li><a href="index-4.html">Contacts</a></li>
               <li><a href="index-5.html">Blog</a></li>
             </ul>
            </div>
          </div>
        </div>
        <div class="grid_4 ">
          <h4>Follow us</h4>
          <div class="footer_socials">
            <a href="#" class="fa fa-google-plus"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-pinterest"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </div>
        </div>
        <div class="grid_3 anim_right">
          <h4>Join our newsletter</h4>
          
          <p>And always stay informed of the latest science news and events!</p>
          <a href="#" class="btn"><span data-content="Sign up">Sign up</span>
            <div class="fa fa-angle-double-right"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="grid_12">  
         <div class="copyright"> &copy; <span id="copyright-year"></span> Science Lab.  <a href="index-6.html">Privacy Policy</a> 
          
         </div>
      </div>
    </div>
  </div>  
</footer>
{% endmacro %}