<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/site.css">
  <title>{{ title }}</title>
  <meta name = "format-detection" content = "telephone=no" />
  <link rel="icon" href="/images/favicon.ico">
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/styles/site.css">
  <script src="/scripts/libs/jquery.js"></script>
  <script src="/scripts/libs/jquery-migrate-1.1.1.js"></script>
  <script src="/scripts/libs/superfish.js"></script>
  <script src="/scripts/libs/jquery.equalheights.js"></script>
  <script src="/scripts/libs/jquery.mobilemenu.js"></script>
  <script src="/scripts/libs/script.js"></script> 
  <script src="/scripts/libs/jquery.ui.totop.js"></script>
  <script src="/scripts/libs/jquery.stellar.js"></script>
  <script src="/scripts/libs/tweens.js"></script>
  <script src="/scripts/libs/jquery-ui-1.10.3.custom.js"></script>
  <script>
  $(window).load(function(){
    $().UItoTop({ easingType: 'easeOutQuart' });

    if ($('html').hasClass('desktop')) {
        $.stellar({
        horizontalScrolling: false,
        verticalOffset: 40
      });
    }

    jQuery( "#accordion" ).accordion({
        collapsible: true,
        heightStyle: "content"
      });          
  }); 
  </script>
  <!--[if lt IE 8]>
  <div style=' clear: both; text-align:center; position: relative;'>
    <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
      <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
    </a>
  </div>
  <![endif]-->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <link rel="stylesheet" media="screen" href="css/ie.css">
  <![endif]-->
</head>
<body id="{{bodyId}}" class="{{bodyClass}}">
  {{ content | safe }}

  <script src="/scripts/index.js"></script>
</body>
</html>