#stuck_container {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	z-index: 999;
	box-shadow: 0 5px 5px rgba(0,0,0,0.15);
	background: url(../images/stuck_overlay.png) 0 0 repeat;

	.isStuck {
		background-color: #fff;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;


		.menuBox {
			margin: 0;

		  @include transition(0.4s ease);
		}
	}	
}

@media only screen and (min-width: 979px) {

	.isStuck  {
		h1 {
			@include scale(0.6);
			top: -37px;
		}
	}

}

@media only screen and (max-width: 979px) {

	#stuck_container {
		position: relative !important;
		box-shadow: none;
		
	}
	.pseudoStickyBlock {
		height: 0 !important;
	}

	.isStuck {
	}
}

@media only screen and (max-width: 767px) {

	.isStuck {    

  }
}