@use 'sass:math';

@import '../css/grid.css';
@import '../css/font-awesome.css';
@import 'variables';
@import 'superfish';
@import 'mixins';
@import 'stuck';


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700italic);
@import url(http://fonts.googleapis.com/css?family=Asap:400);
@import url(http://fonts.googleapis.com/css?family=Asap:700);

html {
  width: 100%;
}

a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-text-size-adjust: none;
}

body {
  position: relative;
  background-color: $body-bg;
  color: $text-color;
  font: math.div($font-size-base, $line-height-base) $base-font-family;
}



strong {
  font-weight: 700;
}

address {
  font-style: normal;
}

p {
  margin-bottom: $line-height-base;
}


input,
textarea {
  border-radius: 0 !important;
  outline: none !important;
  -webkit-appearance: none;
}


img {
  max-width: 100%;
}



/****Heads****/


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $headings-font-weight;
}

h2 {
  padding-top: 172px;
  font-size: 71px;
  letter-spacing: -2px;
  line-height: 85px;
  margin-bottom: 14px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 136px;
  margin-bottom: 40px;

  &.head1 {
    padding-top: 94px;
  }
}

.page1 h3 {
  padding-top: 95px;
  margin-bottom: 42px;
}

h4 {
  padding-top: 86px;
  font-size: 21px;
  line-height: 24px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/****Lists****/


ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list {
  &.l__1 {
    margin-bottom: 0;
  }

  &.l__2 {
    margin-bottom: 0;
    padding-top: 0;
  }

  padding-top: 40px;
  margin-bottom: 38px;

  li {
    padding-left: 18px;
    background: url(../images/marker.png) 0 9px no-repeat;

    &+li {
      margin-top: 8px;
    }
  }

}

.blog_links {
  overflow: hidden;
  padding-bottom: 8px;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #2b3943;
  margin-bottom: 6px;
  border-bottom: 1px solid #dfe1e2;

  li {
    position: relative;
    float: left;

    &+li {
      margin-left: 30px;
    }

    &+li:after {
      position: absolute;
      width: 4px;
      height: 4px;
      background-color: #b3b7b9;
      content: '';
      left: -18px;
      top: 5px;
    }

    a:hover {
      color: $color3;
    }
  }
}

.logos {
  padding-top: 30px;

  li {
    position: relative;
    text-align: center;
    float: left;

    &+li {
      margin-left: 43px;

      a:hover {
        opacity: 0.5;
      }
    }
  }
}

.rate {
  &+.color1 {
    position: relative;
    top: -2px;
    margin-top: -1px;
  }

  margin-bottom: 25px;
  padding-top: 6px;

  span {
    display: inline-block;

    &+span {
      float: right;
    }
  }

  li+li {
    margin-top: 21px;
  }

  .scale {
    border: 1px solid #717171;
    padding: 1px;

    div {
      height: 7px;
      position: relative;

      .prog {
        position: absolute;
        left: 0;
        background-color: #258a9a;
        top: 0;
        bottom: 0;
        width: 39%;

        &.w39 {
          width: 39%;
        }

        &.w31 {
          width: 31%;
        }

        &.w20 {
          width: 20%;
        }

        &.w11 {
          width: 11%;
        }
      }
    }
  }
}

/****Links****/


a {
  text-decoration: none;
  color: inherit;
  outline: none;

  @include transition(0.5s ease);

  &:hover {
    color: $link-hover-color;
  }
}



.btn {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  display: inline-block;
  perspective: 600px;
  perspective-origin: 50% 50%;
  overflow: hidden;
  vertical-align: top;
  background-color: #333;
  margin-top: 16px;


  span {
    display: inline-block;
    color: #fff;
    padding: 11px 64px 12px 27px;
    transform-origin: 50% 0%;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 0%;
    -webkit-transform-style: preserve-3d;
    @include transition(0.5s ease);
    position: relative;

    &:after {
      content: attr(data-content);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 11px 64px 12px 27px;
      transform-origin: 50% 0%;
      -webkit-transform-origin: 50% 0%;
      transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
      -webkit-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
    }

  }

  .fa {
    line-height: 20px;
    right: 22px;
    top: 50%;
    margin-top: -10px;
    position: absolute;
    font-size: 18px;
    color: #fff;
    @include transition(0.4s ease);

  }

  &:hover {
    background-color: #F6EED2;
    color: $link-hover-color;

    span {
      color: $link-hover-color;
      transform: translate3d(0px, 0px, -30px) rotateX(91deg);
      -webkit-transform: translate3d(0px, 0px, -30px) rotateX(91deg);

      :after {}
    }

    .fa {
      color: $link-hover-color;
    }
  }
}

/****classes****/

.mb0 {
  margin-bottom: 0px !important;
}

.m0 {
  margin: 0 !important;
}

.pad0 {
  padding: 0 !important;
}

.pad1 {}


.img_inner {
  max-width: 100%;
  @include boxSizing(border-box);
  margin-bottom: 23px;
  margin-top: 5px;

  &.fleft {
    float: left;
    width: auto !important;
    margin-right: 30px;
    margin-bottom: 0px;

    &.noresize {
      margin-right: 20px;
      margin-top: 5px;
    }
  }
}

.oh {
  overflow: hidden;
}

.fright {
  float: right !important;
}

.upp {
  text-transform: uppercase;
}

.alright {
  text-align: right;
}

.ta__center {
  text-align: center;
}

.ta__left {
  text-align: left;
}

.td__underline {
  text-decoration: underline;
}

.wrapper,
.extra_wrapper {
  overflow: hidden;
}

.clear {
  float: none !important;
  clear: both;
}

.oh {
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

.rel {
  position: relative;
}

/*animations*/

.anim_left,
.anim_right,
.anim_top {
  position: relative;
}

.anim_left1,
.anim_left2,
.anim_left3 {
  background-color: #fff;
}

/*header*/

header {
  display: block;
  position: relative;
  z-index: 800;
  background: url(../images/slide.jpg) center 0 no-repeat #1b7888;

  h1 {
    text-align: center;
    z-index: 990;
    float: left;
    position: absolute;
    left: 10px;
    top: 24px;
    @include transition(0.5s ease);

    a {
      display: inline-block;
      overflow: hidden;
      font-size: 0;
      line-height: 0;
      text-indent: -999px;
      @include transition(0s ease);
    }

    img {
      display: block;
    }
  }
}

.page1 header {
  overflow: hidden;
}

.main {
  overflow: hidden;
}

/****Content****/

.content {
  padding-bottom: 103px;
  background-color: #fff;
}

.page1 .content {
  padding-bottom: 29px;
}

.lazy {
  @include transition(0.5s ease)
}

/****Blocks****/

.caption {
  position: relative;
  padding-bottom: 191px;
  padding-left: 37px;
  color: #f6eed2;
  font-size: 20px;
  line-height: 33px;
  font-style: italic;

  a {
    margin-top: 28px;
    display: inline-block;
    background-color: #f6eed2;
    color: $color1;
    padding: 17px 39px 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font: bold 16px/20px $custom-font-1;

    &:hover {
      background-color: $white;
    }
  }
}

.banner {
  margin-top: 103px;
  background-color: #e8eded;
  overflow: hidden;
  position: relative;

  img {
    float: left;
    position: relative;
  }

  em {
    display: block;
    font-weight: bold;
    font-style: italic;
    font-size: 13px;
    line-height: 15px;
  }

  .bann_inner {
    overflow: hidden;
    padding: 26px 22px 0;


    .bann_title {
      margin-bottom: 19px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      line-height: $line-height-base;

      span {
        padding-top: 6px;
        font-weight: 600;
        letter-spacing: 1px;
        display: block;
        font-size: $font-size-base;
        line-height: 18px;
      }
    }
  }
}

.block1 {
  position: relative;
  padding-top: 64px;

  &.bl__1 {
    padding-top: 5px;

    .block1_title {
      font-size: 24px;
      letter-spacing: 1px;
      margin-bottom: 22px;
    }

    .btn {
      position: relative;
      top: 1px;
      margin-bottom: 1px;
    }

    .btn,
    .btn span,
    .btn span:after {
      padding-right: 20px !important;
    }

    .btn .fa {
      right: 10px !important;
    }

    img {
      margin-bottom: 18px;
    }
  }

  .btn {
    display: block;
    margin-top: 15px;
    padding-right: 64px;

    span {
      display: block;

      &:after {
        padding-right: 64px;
      }
    }



    .fa {
      right: 30px;
    }
  }

  img {
    border-radius: 500px;
    display: block;
    position: relative;
    margin: 0 auto 24px;
    border: 2px solid #e59a17;
  }

  .block1_title {
    margin-bottom: 27px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;

    span {
      display: block;
      font-size: 18px;
      line-height: 16px;
      margin-bottom: 11px;
    }
  }
}



.sheet_title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  border-bottom: 3px solid #333;
  padding-bottom: 11px;
  padding-top: 65px;
}

.sheet {
  padding-top: 98px;

  .sheet_title {
    padding-top: 0;
    padding-bottom: 9px;
  }


  .sheet_capt.it__1 {
    padding-top: 200px !important;
  }

  &>.sheet_inner {
    margin-left: -11px;
    position: relative;
    left: 6px;

    &>.sheet_item+.sheet_item {
      position: relative;
      left: -5px;
    }

  }

  .sheet_inner {
    .sheet_inner {
      margin-top: -5px;

      .sheet_item {
        margin-top: 5px;
      }
    }

    overflow: hidden;

    .sheet_item {
      &:hover>.sheet_capt {
        opacity: 1;
      }

      margin-top: 4px;
      position: relative;
      float: left;
      @include boxSizing(border-box);
      width: 50%;
      padding-left: 5px;

      .sheet_capt {
        line-height: 21px;
        color: #fff;
        text-align: center;
        opacity: 0;
        @include transition(0.5s ease);
        position: absolute;
        padding: 20px 18px 0;
        top: 0;
        left: 5px;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.56);

        .sheet_name {
          font-weight: bold;
          letter-spacing: 2px;
          text-transform: uppercase;
          font-size: 18px;
          margin-bottom: 15px;
        }

        p {
          font-style: italic;
          margin-bottom: 10px;
        }

        .fa {
          border-radius: 500px;
          border: 2px solid #fff;
          width: 33px;
          height: 33px;
          text-align: center;
          font-size: 19px;
          line-height: 35px;

          &:hover {
            border-color: $color1;
          }
        }
      }

    }
  }
}

.post {
  position: relative;
  line-height: 16px;
  overflow: hidden;

  time {
    font-size: 12px;
    line-height: 14px;
    color: #2b3943;
    text-transform: uppercase;
    width: 60px;
    float: left;
    margin-right: 10px;

    img {
      display: block;
      margin: 13px auto 0;
    }

    .color3 {
      display: block;
      font-size: 45px;
      line-height: 38px;
      margin-bottom: 5px;
    }
  }



  .fleft {
    margin-top: 2px !important;
  }

  &+.post {
    margin-top: 46px;
  }

  &.blog {
    &+.post {
      margin-top: 97px;
    }

    overflow: hidden;
    line-height: 22px;
    margin-top: -1px;

    h3 {
      padding-top: 0;
      margin-bottom: 6px;
    }

    .clear {
      height: 12px;
    }

    .blog_links {
      float: left;
      padding-right: 30px;
    }

    time {
      padding-top: 4px;
      margin-right: 40px;
    }
  }

}

.bq1 {
  color: #707675;
  padding-top: 2px;
  line-height: 21px;

  .bq1_title {
    background-color: #333;
    color: #fff;
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 23px;
    position: relative;

    &:after {
      position: absolute;
      top: 100%;
      right: 24px;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 21px 21px 0 0;
      border-color: #333333 transparent transparent transparent;
    }

    strong {
      display: block;
      clear: both;
    }

    div {
      padding-top: 27px;
    }

    span {
      display: block;
      color: #fead06;
      padding-top: 1px;
      font-size: 11px;
      text-transform: uppercase;
    }

    img {
      float: left;
      margin-right: 17px;
    }
  }

  p {
    line-height: 16px;
    margin-bottom: 24px;
  }

  &>img {
    float: left;
    position: relative;
    top: -9px;
  }
}

.block2 {
  overflow: hidden;
  position: relative;

  .count {
    letter-spacing: 1px;
    float: left;
    color: $color1;
    font-size: 36px;
    line-height: 36px;
    width: 70px;
  }
}

.block3 {
  margin-top: 5px;
  color: #fff;
  position: relative;
  background-color: #333;

  img {
    width: 100%;
  }

  .block3_title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 6px;
  }

  .block3_pad {
    padding: 10px 26px;
  }
}

.box {
  position: relative;
  margin-top: 5px;
  border: 1px solid #b3b7b9;
  padding: 9px 9px 14px;

  .gall_item {
    margin-bottom: 16px;
    display: block;
    position: relative;

    img {
      width: 100%;
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      z-index: 5;
      overflow: hidden;
      width: 0;
      border: 0px solid #fff;
      height: 0;
      background: rgba(0, 0, 0, 0.3) url(../images/magnify.png) -140px center no-repeat;
      @include transition(0.5s ease);
      @include boxSizing(border-box);
    }

    &:hover {
      span {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
      }
    }
  }
}

.prv {
  p+.text1 {
    padding-top: 17px;
  }
}

/*******Accordion******/

#accordion {
  padding-top: 4px;
  font-size: 15px;
  line-height: 21px;

  dt {
    cursor: pointer;
    margin-top: -1px;
    position: relative;
    border: 1px solid #b3b7b9;
    padding: 9px 0 11px 55px;
    @include transition(0.5s ease);

    span {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 43px;
      border-right: 1px solid #b3b7b9;

      &:before,
      &:after {
        content: '';
        position: absolute;
        background-color: #28b3f4;
        height: 1px;
        width: 18px;
        left: 50%;
        margin-left: -9px;
        top: 50%;
        margin-top: -1px;
        @include transition(0.5s ease);
      }

      &:after {
        @include rotate(90deg);
      }
    }

    &.ui-state-active {
      color: $color1;

      span:after {
        @include rotate(0deg);
      }
    }
  }

  dd {
    font-size: 14px;
    color: #696969;
    padding: 11px 12px 23px;

    p {
      margin-bottom: 21px;
    }
  }
}

/*******Search******/

#search {
  float: right;
  position: relative;
  width: 207px;
  padding-top: 39px;
  margin-left: 60px;

  .rel {
    position: relative;
  }

  label {
    display: block;
  }

  input {
    background: none;
    width: 100%;
    height: 35px;
    font: 17px/30px $custom-font-1;
    color: #f6eed2;
    padding-right: 30px;
    border: 0;
    border-bottom: 1px solid #f6eed2;
    @include boxSizing(border-box);
  }

  a {
    display: block;
    position: absolute;
    font-size: 18px;
    line-height: 30px;
    right: 0;
    top: 0;
    color: #f6eed2;
    cursor: pointer;

    &:hover {
      color: $color3;
    }
  }

}

/****Separators****/

.sep__1 {
  height: 38px;
}

.sep__2 {
  height: 37px;
}

.sep__3 {
  height: 43px;
}


/****Gallery****/


/****Text styles****/
.text1 {
  font-size: 20px;
  line-height: 24px;
  color: $color1;
  margin-bottom: 6px;

  a:hover {
    color: #333;
  }
}

.page1 .text1 {
  margin-bottom: 10px;
}

.color1 {
  color: $color1;
}

.color1 a:hover,
a.color1:hover {
  color: $color3;
}

.color2 {
  color: $color2;
}

.color3 {
  color: $color3;
}


/****Map****/

.map {
  padding-top: 5px;
  overflow: hidden;
  padding-right: 70px;

  figure {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 29px;
    @include boxSizing(border-box);
  }

  figure iframe {
    width: 100%;
    height: 423px;
    max-width: 100%;
  }
}

.address1 {
  display: block;

  dt {
    line-height: 25px;
    margin-bottom: 12px;
  }

  &+.address1 {
    margin-top: 24px;
  }

  dd span {
    min-width: 144px;
    display: inline-block;
    text-align: left;
  }

  dd span.col1 {
    min-width: 0;
  }
}

/**Footer**/
.cont_map {
  display: block;
  width: 100%;

  iframe {
    width: 100%;
    height: 400px;
  }
}

#footer {
  color: #fff;
  display: block;
  line-height: 17px;

  a:hover {
    color: $text-color;
  }

  .footer_top {
    background-color: #e59a17;
    padding-bottom: 50px;

    .btn {
      margin-top: 3px;
    }

    & .btn span {
      padding-right: 48px;
      padding-left: 33px;

      &:after {
        padding-right: 48px;
        padding-left: 33px;
      }
    }

    p {
      margin-top: -5px;
    }

    address {
      p {
        margin-top: 0;
        margin-bottom: 16px;
      }
    }
  }

  .f_menu {
    padding-top: 1px;

    li {

      position: relative;

      &+li {
        margin-top: 14px;
      }

      &.current {
        color: $text-color;
      }
    }

  }



  .copyright {
    padding: 44px 0 49px;
  }

  .footer_socials {
    overflow: hidden;
    margin-top: -1px;
    position: relative;

    .fa {
      float: left;
      display: block;
      width: 44px;
      height: 44px;
      text-align: center;
      line-height: 46px;
      background-color: #fff;
      border-radius: 500px;
      font-size: 22px;
      @include transition(0s ease);
      color: #e59a17;

      &+.fa {
        margin-left: 7px;
      }

      &:hover {
        background-color: $text-color;
        @include rotate(360deg)
      }
    }
  }


}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 40px;
  left: 51%;
  margin-left: 640px;
  overflow: hidden;
  width: 24px;
  height: 24px;
  border: none;
  text-indent: -999px;
  z-index: 20;
  background: url(../images/totop.png) no-repeat left 0;
  @include transition(0s ease);

  &:hover {
    outline: none;
    background-position: right 0;
  }
}

/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1199px) {
  .extra_wrapper {
    overflow: visible;
  }

  header {
    -webkit-background-size: auto 100% !important;
    background-size: auto 100% !important;
    background-position: 0 0 !important;
  }

  .banner {
    padding: 20px;

    img {
      width: 100%;
      float: none;
    }
  }

  .lazy {
    height: auto !important;
  }

  .sf-menu>li+li {
    margin-left: 12px;

    &:after {
      left: -8px;
      width: 4px;
      height: 4px;
      border-radius: 500px;
    }
  }

  .logos li+li {
    margin-left: 14px;
  }

  .sheet .sheet_inner .sheet_item .sheet_capt .sheet_name {
    font-size: 13px;
    letter-spacing: normal;
    margin-bottom: 2px;
  }

  .sheet .sheet_inner .sheet_item .sheet_capt p {
    font-size: 12px;
    line-height: 14px;
  }

  .sheet .sheet_capt.it__1 {
    padding-top: 170px !important;
  }

  .map {
    padding-right: 0;
  }

}

@media only screen and (max-width: 979px) {
  .address1 {
    float: none;

    dd span {
      min-width: 0;
    }
  }

  .sheet .sheet_inner .sheet_item .sheet_capt p {
    display: none;
  }

  .block1 .btn {
    span {
      padding-right: 30px;

      &:after {
        padding-right: 30px;
      }

    }
  }

  #footer .footer_socials .fa {
    line-height: 36px;
    height: 36px;
    width: 36px;
  }

  h2 {
    font-size: 50px;
    line-height: 58px;
  }



  .navigation {
    clear: both;
  }

  .map figure,
  .map figure iframe,
  #form input,
  #form textarea,
  #form .success {
    width: 100% !important;
    float: none !important;
  }

  #form .success {
    @include boxSizing(border-box);
  }

  .map figure {
    height: auto !important;
    margin-bottom: 15px;
  }

  .nowrap {
    white-space: normal;
  }

  .logos li {
    width: 11%;
    margin-left: 0 !important;
    text-align: center;

    a {
      margin: 0 5px;
      display: block;
    }

  }

}

@media (min-width: 767px) and (max-width: 979px) {

  .bq1_title {
    padding: 10px !important;

    img {
      float: none !important;
      margin: 0 !important;
    }
  }


  .block1.bl__1 .block1_title {
    font-size: 20px;
  }

  .blog .img_inner.fleft {
    width: 100% !important;
    float: none !important;
    margin-right: 0 !important;
    margin-bottom: 20px !important;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {

  .logos li {
    width: auto;
    float: none;
    text-align: center;
    margin-bottom: 8px;

    a {
      margin: 0;
      display: inline;
    }

  }

  .f_address {
    margin-bottom: 30px;
  }

  .fright {
    float: none !important;
  }

  .block1.bl__1 {
    padding-top: 30px;
  }

  .box {
    margin-top: 15px;
  }

  .sep__2,
  .sep__3 {
    height: 0;
  }

  .block2 {
    margin-bottom: 40px;
  }

  #search {
    float: none;
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }

  header {
    -webkit-background-size: auto 100% !important;
    background-size: auto 100% !important;
  }

  .img_inner,
  .img_inner.fleft {
    width: 100% !important;
    float: none !important;
    margin-right: 0 !important;
    margin-bottom: 20px !important;
    margin-top: 30px;

    img {
      width: 100%;
    }
  }


  .sheet_item {
    width: 100% !important;
    padding: 0 !important;
    left: 0 !important;
  }

  .sheet_item img {
    width: 100% !important;
  }

  .sheet_capt {
    padding-top: 170px !important;
    left: 0 !important;
  }

  .sheet_inner {
    margin: 0 !important;
    left: 0 !important;
  }


  header h1 {
    padding-top: 15px;
    position: relative !important;
    margin-bottom: 20px;
    float: none;
    left: 0;
    text-align: center;

    a {
      max-width: 90%;
      width: auto;
      display: inline-block;
      height: auto;
    }
  }

  .map figure iframe {
    height: 300px;
  }

  .content .noresize {
    width: auto !important;
    float: left !important;
    margin-right: 20px !important;
    margin-top: 4px !important;
  }

  .none {
    clear: both;
  }

  .post time {
    margin-bottom: 20px;
  }

}


@media only screen and (max-width: 479px) {

  .sheet_capt,
  .sheet .sheet_capt.it__1 {
    padding-top: 90px !important;
  }
}